<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <input type="checkbox" id="check">
    <header>
        <label for="check">
            <i class="fas fa-bars" id="sidebarBtn"></i>
        </label>
        <div class='leftArea'>
            <h3><i class="fab fa-youtube"></i> Youtube<span> category Select</span></h3>
        </div>
        
    </header>
    <div class='sidebar'>
        <center>
            <img src="RenderedImage.jpeg" class="profile" alt="">
            <h4>HoJoon Lim </h4>
        </center>
        <a href="#"><i class="fas fa-home"></i><span>홈</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>선택된 카테고리</span></a>
        <a href="#"><i class="fas fa-cogs"></i><span>전체 카테고리</span></a>
    </div>

</body>

</html>
<!-- "{{ url_for('static', filename='image/test.jpeg') }}" -->